* {
  margin: 0px;
  padding: 0px;
}

body{
  color: #424242;
}

a{
  text-decoration: none;
  color: #424242;
}

ul, li{
  list-style: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  color: #424242;
  font-size: 10px;
  padding:0;
  border: 0;
  margin: 0;
  display: inline;
}

.mapboxgl-popup-content {
    position: relative;
    background: #000 !important;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 10px 10px 15px;
    pointer-events: auto;
}
